.wrapper {
  position: relative;
  width: 100%;
  max-width: 56.25em;
  margin: 0 auto;
  padding: 0 0em;
  box-sizing: border-box;
}

.tab-content {
  margin-top: 3em;
}

#container3 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background-color: #B2A292;
}

#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:33.33%;
	background-color: #CCBDAE;
}

#container1 {
	float:left;
	width:100%;
	position:relative;
	right:33.33%;
	background-color: #EBE3FF;
}

#col-one {
	float:left;
	width:29.33%;
	position:relative;
	left:68.67%;
	overflow:hidden;
}

#col-two {
	float:left;
	width:29.33%;
	position:relative;
	left:72.67%;
	overflow:hidden;
}

#col-three {
	float:left;
	width:29.33%;
	position:relative;
	left:76.67%;
	overflow:hidden;
}
