
.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.icon-menu {
  font-size: 3em;
  float: right;
}

.main-nav {
  padding: 0.01em;
  float: right;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #cdcd;
}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #767C;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .main-nav {
    padding: .1em .1em;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
  }

  .main-nav ul li:hover a {
    color: #297D96;
  }

  .main-nav ul li {
    float: right;
  }

  .sub-nav {
    padding: .01em .01em;
  }

  .sub-nav ul li {
    display: none;
    border-bottom: none;
  }

}

.myself {
  max-width: 33%;
  border: inset;
  border-width: thick;
  border-radius: 3%;
}

.screenshot {
  max-width: 33%;
  height: auto;
}
.glyph {
  font-size: 16px;
  margin-right: 1.5em;
  float: left;
  width: 17em;
}

.liga {
  width: 80%;
  width: calc(100% - 2.5em);
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.footer {
	clear:both;
	float:left;
	width:100%;
}

.footer p {
	margin-left:2%;
	padding-right:2%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
