/*icomoon snippet*/
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
/*icomoon snippet*/

.icon-menu {
  font-size: 3em;
  float: right;
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.main-nav {
  float: right;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #F9FFFB;
}

.template {
  display: none;
}

.byline {
  color: #9DB2A1;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

ul.nav-group {
  width: 20vw;
  height: 0.5vh;
  float: right;
}

/*start mobile first layout*/
@media only screen and (min-width: 755px) {

  .icon-menu {
    display: none;
  }

  ul.nav-group {
    width: 100vw;
    height: 1.5vh;
    font-size: 1.5em;
  }

  .main-nav {
    font-size: 1em;
    padding: 0.1em 6.1em .1em 1em;
    height: 15vh;
  }

  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
  }

  .main-nav ul li:hover a {
    color: #9DB2A1;
  }

  .main-nav ul li {
    float: right;
  }

  .sub-nav {
    padding: .01em .05em;
    height: 9em;
    width: 8.4em;
  }

  ul.sub-nav {
    display: none;
  }

  .sub-nav ul li:hover a {
    display: block;
    border-bottom: none;
  }
  .sub-nav li {
    padding: 0.001em;
  }

}
/*end mobile first layout*/

.myself {
  max-width: 50%;
  border: inset;
  border-width: thick;
  border-radius: 5%;
}

.screenshot {
  max-width: 33%;
  height: auto;
}

.glyph {
  font-size: 16px;
  margin-right: 1.5em;
  float: right;
  width: 17em;
}

.liga {
  width: 80%;
  width: calc(100% - 2.5em);
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.footer {
	clear:both;
	float:left;
	width:100%;
}

.footer p {
	margin-left:2%;
	padding-right:2%;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.bshadow0, input {
  box-shadow: inset 0 -2px #e7e7e7;
}

.bio-blurb {
  float: right;
}

.bio-blurb p {
  justify-content: center;
  margin-left: 1em;
}

.bio-blurb li {
  margin-left: 5em;
}

.bio-blurb h2 {
  position: relative;
    left: 40%;
}

.sub-nav:hover ul li {
  display: list-item;
  border-bottom: none;
  align-content: space-around;
}

.sub-nav ul li {
  display: none;
}

.col {
  display: inline-block;
}

.col-content h2 {
  font-family: 'Bitter', serif;
  font-size: 2em;
  color: #1A111A;
}

.col-content p {
  font-family: 'Headland One', serif;
  color: #111111;
}

.col-content aside {
  font-family: 'Headland One', serif;
  color: #1A111A
  float: left;
  clear: right;
}

.draft p {
  font-family: 'Headland One', serif;
  font-variant: small-caps;
  color: #1A111A
}

.work-exp ul li {
  content: open-quote;
}
